<div style="display: flex; justify-content: start; margin-bottom: 15px; gap: 15px;">
    <p-menu appendTo="body" #menu [popup]="true" [model]="postsMenu"></p-menu>
    <button
        pButton
        label="Пользователи"
        (click)="menuToggle($event, menu)">
    </button>

    <!-- <button 
        pButton 
        (click)="openEditForm({state: SidebarState.add, visible: true})" 
        label="Добавить пост"
        >
    </button> -->
</div>

<p-table 
    [rows]="size"
    [loading]="loading"
    [value]="users"
    [paginator]="true"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 50%" pSortableColumn="title">
               Пользователь
               <p-sortIcon field="title"></p-sortIcon>
            </th>

            <th style="width: 20%" pSortableColumn="createDate">
                Дата создания
                <p-sortIcon field="createDate"></p-sortIcon>
            </th>

            <th style="width: 20%" pSortableColumn="updateDate">
                Дата обновления
                <p-sortIcon field="updateDate"></p-sortIcon>
            </th>

            <th style="width: 10%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td style="width: 50%">
                {{item.login}}
            </td>

            <td style="width: 20%">
                {{item.createdDate | date: 'dd.MM.yyyy hh.mm'}}
            </td>

            <td style="width: 20%">
                {{item.lastModifiedDate | date: 'dd.MM.yyyy hh.mm'}}
            </td>

            <td style="width: 10%">
                <button style="margin-right: 5px;" pButton icon="pi pi-pencil" (click)="openEditForm({visible: true, item: item})"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        Всего {{totalElements}} пользователей
    </ng-template>
</p-table>

<p-dialog
    [(visible)]="visible">

    <ng-template pTemplate="header">
        <h2>Информация о пользователе</h2>
    </ng-template>

    <p>
        Логин: {{name}}
    </p>
    <p>
        Эл. почта: {{email}}
    </p>

</p-dialog>
